{sub_dirs, ["rel", "apps/*"]}.
{erl_opts, [debug_info, fail_on_warning,{d, 'TEST', true}]}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{deps, [
    {meck, ".*",
			{git, "https://github.com/eproxus/meck.git", {tag, "0.8.1"}}},
    {cowboy, ".*", {
        git, "git://github.com/extend/cowboy.git", {tag, "0.9.0"}}},
    {lager, ".*", {
        git, "git://github.com/basho/lager.git", "master"}},
    {jiffy, ".*",
      {git, "git://github.com/davisp/jiffy.git", {tag, "0.8.5"}}}
		]}.
